<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<!-- <script src="https://d3js.org/d3.v4.js"></script> -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<!-- <link rel="stylesheet" href="styles.css"> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!-- Nav Bar -->
<div class="row">
    <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/risk">The Process.</a>
            <a href="/frontml">Model Comparison.</a>
            <a href="/machinelearn">CSVs.</a>
            <a href="/aboutus">About Us.</a>
          </div>
    </div>

<!-- The Hero Attempt -->

<div class="entire">
    <body>
            <section class="hero" id="heromini">
                <div class="hero-inner">
                    <h1>About Us</h1>
                    <h3>Forecasting 20/20</h3>
                    <!-- <a href="https://example.com/" class="btn">Go ahead...</a> -->
                </div>
            </section>    
        </html>
    </body>


<!-- Bulk of Page Info -->

<div id="grad">
<div class="row">
    <hr>
    <div class="container">

        <div class="risktitle">
            <h3><center><p></p></center></h3>
        </div>
        
        <div class="aubody">
            <p></p>
        </div>

    </div>

</div>




<div class="row">
        <br>
        <br>
        <br>
        <div class="container">
          <div class="col-sm-3" style="font-family:Arial"> 
                <div class="profpicbox"><img src="https://ca.slack-edge.com/TKEVCJ3NX-UL427KNP8-246f63ce53d2-512" class="profpic"></img></div>
                <div class="row">
                    <br>
                        <div class="nametext">Philip Penrose</div>
                </div>
                <div class="row">
                    <div class="titletext">Python • Machine Learning</div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                    </div>          
                    <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                        <a href="https://www.linkedin.com/in/philip-penrose/" target="_blank"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="LIpic"></a>
                  </div>
                  <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                        <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/GHicon.png') }}" class="GHpic"></a>
                  </div>
                  <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                  </div> 
                </div>
          </div>
          <div class="col-sm-3" style="font-family:Arial"> 
                <div class="profpicbox"><img src="https://files.slack.com/files-pri/TKEVCJ3NX-FSJDNNDCG/image.png" class="profpic"></img></div>
                <div class="row">
                    <br>
                    <div class="nametext">Quaid Besing</div>
                </div>
                <div class="row">
                    <div class="titletext">Python • JS • Flask</div></div>
                    <br>
                <div class="row">
                    <div class="col-md-3" style="font-family:Arial" class="auiconbar"> 
                    </div>          
                    <div class="col-md-3" style="font-family:Arial" class="auiconbar"> 
                        <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="LIpic"></a>
                  </div>
                  <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                        <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/GHicon.png') }}" class="GHpic"></a>
                  </div>
                  <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                  </div> 
                </div>
          </div>
          <div class="col-sm-3" style="font-family:Arial"> 
                <div class="profpicbox"><img src="https://ca.slack-edge.com/TKEVCJ3NX-UKRQAS1BL-26d6eac03c60-512" class="profpic"></img></div>
                <div class="row">
                    <br>
                    <div class="nametext">Kat Muraski</div>
                </div>
                <div class="row">
                    <div class="titletext">HTML • CSS • JS</div></div>
                    <br>
                <div class="row">
                    <div class="col-md-3" style="font-family:Arial" class="auiconbar"> 
                    </div>          
                    <div class="col-md-3" style="font-family:Arial" class="auiconbar"> 
                        <a href="https://www.linkedin.com/in/kathryn-muraski/" target="_blank"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="LIpic"></a>
                  </div>
                  <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                        <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/GHicon.png') }}" class="GHpic"></a>
                  </div>
                  <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                  </div> 
                </div>
          </div>
          <div class="col-sm-3" style="font-family:Arial"> 
                <div class="profpicbox"><img src="https://ca.slack-edge.com/TKEVCJ3NX-UKRQGFJBV-2a838110ce40-512" class="profpic"></img></div>
                <div class="row">
                    <br>
                        <div class="nametext">Ashwin Jayaram</div>
                </div>
                <div class="row">
                    <div class="titletext">Python • Machine Learning</div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-3" style="font-family:Arial" class="auiconbar"> 
                    </div>          
                    <div class="col-md-3" style="font-family:Arial" class="auiconbar"> 
                        <a href="https://www.linkedin.com/in/ashwin148/" target="_blank"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="LIpic"></a>
                  </div>
                  <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                        <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/GHicon.png') }}"class="GHpic"></a>
                  </div>
                  <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                  </div> 
                </div>
          </div>
    
        </div>
    
</div>

<br>
<br>

<!-- <div class="row">

        <div class="container">
          <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="LIpic"></a>
                <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="GHpic"></a>
          </div>
          <div class="col-sm-3" style="font-family:Arial" class="auiconbar">
                <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="LIpic"></a>
                <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="GHpic"></a>
          </div>
          <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="LIpic"></a>
                <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="GHpic"></a>
          </div>
          <div class="col-sm-3" style="font-family:Arial" class="auiconbar"> 
                <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="LIpic"></a>
                <a href="etfcomparison.html"><img src="{{ url_for('static', filename='images/LIicon.png') }}" class="GHpic"></a>
          </div>
    
        </div>
    
</div> -->

<br>
<br>
<br>
<br>

<hr>



<!-- Bottom Page Selection -->

<div class="row">

    <div class="container">

        <div class="col-sm-1"></div>
        <!-- Page 1 -->
        <div class="col-sm-2">
            <div class="tinyinfo">
                <a href="/" class="tinypic"><img
                        src="{{ url_for('static', filename='images/iconfiller_s.png') }}"></a>
                <h5>
                    <p>Home</p>
                </h5>
            </div>
        </div>
        <!-- Page 2 -->
        <div class="col-sm-2">
            <div class="tinyinfo">
                <a href="/risk" class="tinypic"><img
                        src="{{ url_for('static', filename='images/iconrisk_s.png') }}"></a>
                <h5>
                    <p>The Process</p>
                </h5>
            </div>
        </div>
        <!-- Page 3 -->
        <div class="col-sm-2">
            <div class="tinyinfo">
                <a href="/frontml" class="tinypic"><img
                        src="{{ url_for('static', filename='images/iconetf_s.png') }}"></a>
                <h5>
                    <p>Model Comparison</p>
                </h5>
            </div>
        </div>
        <!-- Page 2 -->

        <div class="col-sm-2">
            <div class="tinyinfo">
                <a href="/machinelearn" class="tinypic"><img
                        src="{{ url_for('static', filename='images/iconml_s.png') }}"></a>
                <h5>
                    <p>CSV's</p>
                </h5>
            </div>
        </div>

        <!-- Page 3 -->
        <div class="col-sm-2">
            <div class="tinyinfo">
                <a href="/aboutus" class="tinypic"><img
                        src="{{ url_for('static', filename='images/iconau_s.png') }}"></a>
                <h5>
                    <p>About Us</p>
                </h5>
            </div>
        </div>
        <div class="col-sm-1"></div>

    </div>

</div>

<br>
<!-- grad div  -->
</div>
<div class="row" id="footer">
    
    <h6> by Quaid Besing, Ashwin Jayaram, Kat Muraski, Philip Penrose.
        <a href="/aboutme">Meet the team</a></h6>

</div>

</div>

</div>




<!-- Hero Text Attempt
    
    
    <div class="hero-image">
        <div class="hero-text">
          <h1>I am John Doe</h1>
          <p>And I'm a Photographer</p>
          <button>Hire me</button>
        </div>
      </div> -->


      <script src="{{ url_for('static', filename='js/app.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutme.css') }}">