<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<!-- <script src="https://d3js.org/d3.v4.js"></script> -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
/>
<!-- <link rel="stylesheet" href="styles.css"> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!-- Nav Bar -->
<div class="row">
    <div class="topnav">
            <a class="active" href="/home">Home</a>
            <a href="/intro">Technical Indicators</a>
            <a href="/frontml">ETF Analysis</a>
            <a href="/frontml">Machine Learning</a>
            <!-- <a href="#filler">Filler Page</a> -->
            <a href="/aboutme">About Us</a>
          </div>
    </div>

<!-- The Hero Attempt -->

<div class="entire">
    <body>
            <section class="hero" id="heromini">
                <div class="hero-inner">
                    <h1 style="font-family: Console; font-size: 36pt; color: white; text-align: center;">Forecasting 20/20</h1>
                    <h2 style="font-family: Console; font-size: 24pt; color: white; text-align: center;">Predicting and forecasting ETF performance with machine learning</h2>
                    <!-- <a href="https://example.com/" class="btn">Go ahead...</a> -->
                </div>
            </section>    
        </html>
    </body>



<!-- Banner -->


<!-- <div class="row">
    <div class="container">
        <div class="header">
                <h1>Name.</h1>
        </div>
    </div>
</div> -->

<!-- Bulk of Page Info -->

<div id="grad">
<div class="row">

    <div class="container">

        <div class="risktitle">
            <h2 style="font-family: Console; font-size: 18pt; color: white; text-align: center;">Let's explore some of our forecasting models.</h2>
        </div>
        <hr>
        <div class="riskbody">
            <p>General info about topic.</p>
        </div>

    </div>

</div>

<div class="row">


    <div class="container">
        <!-- <div class="col-sm-1" style="font-family:Arial"></div> -->

    <div class="col-sm-12">
        <select id="selDataset" onchange="picture(this.value)">
            <!-- <option selected="true" disabled>Choose ETF</option>             -->
            <option value="SPY">SPY</option>
            <option value="VV">VV</option>
            <option value="QQQ">QQQ</option>
            <option value="SPLV">SPLV</option>
            <option value="LQD">LQD</option>
            <option value="MBB">MBB</option>

        </select>  
        <br>
        <br>
    </div>

        <!-- <div class="col-sm-1" style="font-family:Arial"></div> -->
    </div>

</div>


<div class="row">
    <div class="col-sm-12">
        <center>
            <!-- <div id="my_dataviz"></div> -->
                <button class="btn model" id="button" onclick="picture(pic1)">Model 1</button>
                <button class="btn model" id="button" onclick="picture(pic2)">Model 2</button>
                <button class="btn model" id="button" onclick="picture(pic3)">Model 3</button>
                <button class="btn model" id="button" onclick="picture(pic4)">Model 4</button>
        </center>
                <br>
             
    </div>


</div>

<div class="row">

        <!-- <div class="col-sm-3" id="ashcharts">
        </div> -->
        <div class="col-sm-12" id="ashcharts">
            <img id="modelpic" src="{{ url_for('static', filename='images/spy_fbproph_forecast.png') }}"/>
        </div>
        <!-- <div class="col-sm-3" id="ashcharts">
        </div> -->

</div>


<div class="row">

        <div class="container">
          <div class="col-sm-3" style="font-family:Arial"> 
            <br>
          </div>
          <div class="col-sm-3" style="font-family:Arial"> 
            <br>
          </div>
          <div class="col-sm-3" style="font-family:Arial"> 
            <br>
          </div>
          <div class="col-sm-3" style="font-family:Arial"> 
            <br>
          </div>
    
        </div>
    
</div>

<br>
<br>

<div class="row">

        <div class="container">
          <div class="col-sm-3" style="font-family:Arial"> 
            <br>
          </div>
          <div class="col-sm-3" style="font-family:Arial"> 
            <br>
          </div>
          <div class="col-sm-3" style="font-family:Arial"> 
            <br>
          </div>
          <div class="col-sm-3" style="font-family:Arial"> 
            <br>
          </div>
    
        </div>
    
</div>

<br>
<br>
<br>
<br>

<hr>



<!-- Bottom Page Selection -->

<div class="row">

    <div class="container">

            <div class="col-sm-1"></div>
            <!-- Page 1 -->
            <div class="col-sm-2">
                <div class="tinyinfo">
                    <a href="../frontml.html" class="tinypic"><img src="{{ url_for('static', filename='images/iconetf_s.png') }}"></a>
                    <h5><p>ETF Analysis</p></h5>
                </div>
            </div>
            <!-- Page 2 -->
            <div class="col-sm-2">
                <div class="tinyinfo">
                        <a href="../intro.html" class="tinypic"><img src="{{ url_for('static', filename='images/iconrisk_s.png') }}"></a>
                    <h5><p>Technical Indicators</p></h5>
                </div>
            </div>
            <!-- Page 3 -->
            <div class="col-sm-2">
                <div class="tinyinfo">
                        <a href="../frontml.html" class="tinypic"><img src="{{ url_for('static', filename='images/iconml_s.png') }}"></a>
                    <h5><p>Machine Learning</p></h5>
                </div>
            </div>
                        <!-- Page 2 -->

            <div class="col-sm-2">
                <div class="tinyinfo">
                        <a href="../filler.html" class="tinypic"><img src="{{ url_for('static', filename='images/iconfiller_s.png') }}"></a>
                    <h5><p>Investors</p></h5>
                </div>
            </div>

            <!-- Page 3 -->
            <div class="col-sm-2">
                <div class="tinyinfo">
                        <a href="../about.html" class="tinypic"><img src="{{ url_for('static', filename='images/iconau_s.png') }}"></a>
                    <h5><p>About Us</p></h5>
                </div>
            </div>
            <div class="col-sm-1"></div>

    </div>

</div>

<br>
<div>
    <div class="row" id="footer">
    
        <p> by Quaid Besing, Ashwin Jayaram, Kat Muraski, Philip Penrose.
            <a href="../about.html">About Us</a></p>

    </div>

</div>

</div>
</div>



<!-- Hero Text Attempt
    
    
    <div class="hero-image">
        <div class="hero-text">
          <h1>I am John Doe</h1>
          <p>And I'm a Photographer</p>
          <button>Hire me</button>
        </div>
      </div> -->


      
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
      <script src="{{ url_for('static', filename='js/app.js') }}"></script>
      <script src="{{ url_for('static', filename='js/ml.js') }}"></script>
