<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<!-- <script src="https://d3js.org/d3.v4.js"></script> -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
/>
<!-- <link rel="stylesheet" href="styles.css"> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!-- Nav Bar -->
<div class="row">
<div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/risk">The Process.</a>
        <a href="/frontml">Model Comparison.</a>
        <a href="/machinelearn">CSVs.</a>
        <a href="/aboutus">About Us.</a>
      </div>
</div>

<!-- The Hero Attempt -->


<body>
        <section class="hero">
            <div class="hero-inner">
                <h1>Forecasting 20/20</h1>
                <h2>ETF Forecasting and Prediction.</h2>
                <!-- <a href="https://example.com/" class="btn">Go ahead...</a> -->
            </div>
        </section>    
    </html>
</body>



<!-- Bottom of Page Selection -->

<div class="grad">
<div class="row">
    <div class="container">
        <div class="topinfo">
            <!-- Page 1 -->
            <div class="col-sm-4">
                <div class="info">
                <a href="/risk" class="midpic"><img src="{{ url_for('static', filename='images/iconrisk_m.png') }}"></a>
                    <h3><p>The Process.</p></h3>
                    <br>
                    <p>Where we started and how we landed on our final product.</p>
                </div>
            </div>
            <!-- Page 2 -->
            <div class="col-sm-4">
                <div class="info">
                        <a href="/frontml" class="midpic"><img src="{{ url_for('static', filename='images/iconetf_m.png') }}"></a>
                    <h3><p>Model Comparison.</p></h3>
                    <br>
                    <p>Comparison of the various models and charts that we finally decided on.</p>
                </div>
            </div>
            <!-- Page 3 -->
            <div class="col-sm-4">
                <div class="info">
                        <a href="/machinelearn" class="midpic"><img src="{{ url_for('static', filename='images/iconml_m.png') }}"></a>
                    <h3><p>CSV Data.</p></h3>
                    <br>
                    <p>Predictions and raw data from the models we utilized.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



    <div class="row" id="footer">
    
        <p> by Quaid Besing, Ashwin Jayaram, Kat Muraski, Philip Penrose.
            <a href="/aboutus">About us.</a></p>

    </div>

</div>





<!-- Hero Text Attempt
    
    
    <div class="hero-image">
        <div class="hero-text">
          <h1>I am John Doe</h1>
          <p>And I'm a Photographer</p>
          <button>Hire me</button>
        </div>
      </div> -->


      <script src="{{ url_for('static', filename='js/home.js') }}"></script>
      <script src="{{ url_for('static', filename='js/risk.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">