
/* body {
    margin: 0;
    font-family: sans-serif;
  } */

.entire {
  background-color: #fcfcfc;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.7;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(138, 139, 138);
    color: white;
  }


/* .header {
    padding: 70px 0;
    text-align: center;
}

.info {
    text-align: center;
} */

/* Hero Bar */

#heromini {
    /* Sizing */
    width: 100vw;
    height: 30vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    /* background-image: url(https://i.imgur.com/3VPRltC.png); */
    background-image: linear-gradient(to bottom, rgba(10, 38, 34, .52), rgba(33, 59, 100, .82)), url(https://i.imgur.com/3VPRltC.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    

    color: white;
    
  }
  
  #heromini h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
  }

.bulk {
  text-align:center;
  padding: 50px;
}

#summary3 {
  text-align: center;
  font-size: 20px;
  top: 50%;
  left: 50%;
  height: 500px;
  vertical-align: middle;
  padding-top: 75px
}

#my_dataviz2 {
  fill: white;
}

.info {
    text-align: center;
    padding: 60px;
}

#footer {
    padding: 10px;
    background: rgb(153, 153, 153);
    text-align: center;
    font-size: 10px; 
}

.tinyinfo {
  text-align: center;
  font-size: 5em;
}

.riskdefinitions {
  padding-left: 30px;
}

.tinypic {
  filter: invert(1);
}
.tinypic:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#grad {
  background-image: linear-gradient(to bottom right, #0A2622, #213B64);
}

p {
  color: white;
}

.stocktext {
  padding-top:100px;
  font-size: 50px;
}

.fktext {
  padding-left: 50px;
  font-size: 50px;
}

.mftext {
  padding-left: 100px;
  font-size: 50px;
}

.risktitle {
  padding-top: 30px;
  font-size: 50px;
}